
News Server/backend/target/classes/application.properties
Authorization Server/backend/.idea/compiler.xml
Authorization Server/backend/.idea/compiler.xml
Authorization Server/backend/.idea/encodings.xml
Authorization Server/backend/.idea/compiler.xml
Authorization Server/backend/.idea
News Server/.idea/compiler.xml
News Server/.idea/encodings.xml
Authorization Server/backend/.idea/compiler.xml
